[DEFAULT]
ConnectionType=initiator
ReconnectInterval=2
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
LogoutTimeout=5
ResetOnLogon=Y
HeartBtInt=30 
EncryptMethod=0
UseDataDictionary=Y
DataDictionary=./spec/fix/FIX44.xml
ResetOnDisconnect=Y
ValidateFieldsOutOfOrder=N
ValidateUserDefinedFields=N
AllowUnknownMsgFields=Y
StrategyPreference=1

TargetCompID=
SenderCompID=
SenderSubID=
Username=
Password=


[SESSION]
# inherit ConnectionType, ReconnectInterval and SenderCompID from default
BeginString=FIX.4.4
SocketConnectHost=
SocketConnectPort=

SSLEnable=Y
# It is recommended to install the certificate and refer to it by name instead of using filename + password
SSLProtocols=None
# For production refer to certificate by name instead: SSLCertificate=CN=QuickFixn-TestClient
SSLServerName=fixtc-A1.theice.com
