[DEFAULT]
ConnectionType=initiator
ReconnectInterval=2
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
LogoutTimeout=5
ResetOnLogon=Y
HeartBtInt=30 
EncryptMethod=0
UseDataDictionary=Y
DataDictionary=./spec/fix/FIX44.xml
ResetOnDisconnect=Y
ValidateFieldsOutOfOrder=N
ValidateUserDefinedFields=N
AllowUnknownMsgFields=Y

TargetCompID=ICE 
SenderCompID=24735
SenderSubID=zyli
Username=tivcc-dcfx
Password=ThemeIc3!@#
StrategyPreference=1

#TargetCompID=ICE
#SenderCompID=24735
#SenderSubID=zyli
#Username=theme-dcfx
#Password=Starts*123
#StrategyPreference=1

[SESSION]
# inherit ConnectionType, ReconnectInterval and SenderCompID from default
BeginString=FIX.4.4
SocketConnectHost=63.247.112.207
#SocketConnectHost=63.247.113.201
SocketConnectPort=443

SSLEnable=Y
# It is recommended to install the certificate and refer to it by name instead of using filename + password
SSLProtocols=None
#SSLCertificate=./config/themeintl.pfx
# For production refer to certificate by name instead: SSLCertificate=CN=QuickFixn-TestClient
SSLServerName=fixtc-A1.theice.com
#SSLServerName=fixtc-A1.apitest.theice.com
#SSLValidateCertificates=Y
